<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <% if (!locals.knownTZ) { %>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.27.0/moment.min.js"></script>
    <script src="https://momentjs.com/downloads/moment-timezone-with-data.js"></script>
    <script>
      let tz = moment.tz.guess().split('/').join('~')
      let newUrl = window.location.origin + window.location.pathname + '?tz=' + tz
      window.location.replace(newUrl)
    </script>
  <% } %>

  <title>
    <% if (locals.title) { %><%= title %> | <% } %>
    <%= school.topBlock.name %> - by Tenjin LMS
  </title>

  <!-- Bootstrap core CSS -->
  <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="/css/<%= cssFile %> " rel="stylesheet">
  <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" data-auto-replace-svg="nest"></script>

</head>

<body>