<!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="/">
        <%= school.topBlock.name %>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <% if (edit) { %>
              <a class="nav-link" href="/?edit=end">
                <i class="fa fa-cog mr-1"></i>
                Stop edit home
              </a>
            <% } else { %>
              <a class="nav-link" href="/?edit=start">
                <i class="fa fa-cog mr-1"></i>
                Start edit home
              </a>
            <% } %>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="userNavbar" href="#" role="button" data-toggle="dropdown">
              <i class="fas fa-graduation-cap mr-2"></i><%= loggedUser.username %> (Admin)
            </a>
            <div class="dropdown-menu" aria-labelledby="userNavbar">
              <a href="/" class="dropdown-item">
                <i class="fas fa-tachometer-alt mr-2"></i>
                Dshboard
              </a>
              <a href="/profile" class="dropdown-item">
                <i class="fas fa-user mr-2"></i>
                Profile
              </a>
              <div class="dropdown-divider"></div>
              <a href="/admin/users" class="dropdown-item">
                <i class="fas fa-users-cog mr-2"></i>
                Users Management
              </a>
              <a href="/admin/courses" class="dropdown-item">
                <i class="fas fa-cogs mr-2"></i>
                Course Management
              </a>
              <a href="/admin/school-settings" class="dropdown-item">
                <i class="fas fa-cog mr-2"></i>
                School Settings
              </a>
              <div class="dropdown-divider"></div>
              <a href="/logout" class="dropdown-item">
                <i class="fas fa-sign-out-alt mr-2"></i>
                Exit
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </nav>